<body>
  <div class="homepage">
<!-- navigation -->
    <section class="navigation-bar">
      <div class="logo-container">
        <a href="/"><img class="logo" src="/images/fox-white.png" alt="Fox logo and home link"></a>
      </div>
      <div class="nav-links">
        <a href="#projects">PROJECTS</a>
        <a href="#about">ABOUT</a>
        <a href="#contact">CONTACT</a>
      </div>
    </section>
<!-- heading section -->
    <section class="heading">
      <a href="/"><h1>ASHLEY MARIE SHERWOOD</h1></a>
      <h3>CREATIVE FRONT-END DEVELOPER</h3>
      <div class="section-marker"></div>
    </section>
<!-- projects section -->
    <a id="projects"></a>
      <section class="projects">
        <h4>PROJECTS</h4>
        <a href="/images/desktopHomepage.png"><img src="/images/cropdesktopHomepage.png"></a>
        <a class="text-link" href="http://www.sealab.io" target="_blank">SEE IT LIVE</a>
        <a href="/images/riverLinkHomepage.png"><img src="/images/cropriverLinkHomepage.png"></a>
        <a class="text-link" href="https://riverlink.com/" target="_blank">SEE IT LIVE</a>
        <a href="/images/customFittHomepage.png"><img src="/images/cropcustomFittHomepage.png"></a>
        <a class="text-link" href="http://www.customfittpt.net/" target="_blank">SEE IT LIVE</a>
        <a href="/images/drafthouseTweets.png"><img src="/images/cropdrafthouseTweets.png"></a>
      </section>
      <div class="section-marker"></div>
<!-- about section -->
  <a id="about"></a>
    <section class="about">
      <h4>ABOUT</h4>
      <div class="about-text-and-image">
        <img src="/images/ashley.png" alt="Photo of Ashley M Sherwood, Front-end developer in Austin, TX">
        <p>Hi, I'm Ashley Sherwood, a front-end developer based in Austin, TX.
        <br>
        I am equally comfortable working closely with designers and back-end engineers, as a sole front-end developer, or on an <strong>Agile</strong> team.  I have primarily worked alone and on a very small team, and I would love to join a larger group to benefit from the shared knowledge that comes with that community. I'm ready to work on new and exciting projects!</p>
      </div>
      <div class="skills-familiar">
        <div class="third">
          <p class="heading"><strong>SKILLS:</strong></p>
          <ul>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>Sass/Less</li>
            <li>Git/Github</li>
            <li>JavaScript</li>
            <li>AngularJS</li>
          </ul>
        </div>
        <div class="third">
          <p class="heading"></p>
          <ul>
            <li>Bootstrap</li>
            <li>jQuery</li>
            <li>Ember</li>
            <li>Adobe Photoshop</li>
            <li>Adobe Illustrator</li>
            <li>Responsive Design</li>
          </ul>
        </div>
        <div class="third">
          <p class="heading"><strong>FAMILIAR WITH:</strong></p>
          <ul>
            <li>Gulp/Grunt</li>
            <li>Node.js</li>
            <li>Express.js</li>
            <li>AJAX</li>
            <li>Ruby</li>
          </ul>
        </div>
      </div>
    </section>
<!-- contact section -->
<a id="contact"></a>
    <section class="contact">
      <div class="section-marker"></div>
      <h4>CONTACT</h4>
      <p>Would you like to work together? Feel free to e-mail me at <strong><a href="mailto:ashleymariesherwood@gmail.com" alt="email address link" target="_blank">ashleymariesherwood at gmail.com</a></strong>.</p>

      <a class="social-icon" href="https://www.linkedin.com/in/ashley-sherwood-90394876" target="_blank"><img src="/images/in.png" alt="Linkedin link https://www.linkedin.com/in/ashley-sherwood-90394876"></a>

      <a class="social-icon" href="https://github.com/AshleyMSherwood" target="_blank"><img src="/images/github.png" alt="GitHub link https://github.com/AshleyMSherwood"></a>
    </section>
<!-- footer -->
    <footer>
      <p>This site was designed and built by hand <img src="/images/heart.png" alt="image of heart"> from the ground up. </p>
    </footer>
  </div> <!-- end homepage -->
</body>


